body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4d004d;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(fotofundobob.png);
    animation:fundomechendo 50s infinite linear;
}

.img{
    max-width: 100%;
    border-radius: 20%;
    border: 3px solid #ffcc00;
    box-shadow: 0px 0px 10px 0px #ffcc00;
}

.Titulo {
    text-align: center;
    width: 35%;
    border-radius: 5%;
margin-left: auto;
margin-right: auto;
    border: 5px double #ffcc00;
    background-color: transparent;
    color: #1f0000;
    box-shadow: 0px 0px 15px 0px #ffcc00;
    font-size: 1vw;
}


.img1 {
    float: left;
    padding-right: 4%;
    border-radius: 8px;
    padding-top: 7%;
    padding-bottom: 6%;
    border-radius: 50%;
}

.bloco1 {
    text-align: justify;
    display: inline-block;
    width: 50%;
    overflow: auto;
  background-color: transparent;
    padding: 2%;
    border: 2px solid #ffcc00;
    color: #1f0000;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #ffcc00;
}

.img2 {
    float: right;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 8%;
    border-radius: 8px;
    border-radius: 50%;
}

.bloco2 {
    text-align: justify;
    width: 50%;
    padding: 2%;
    margin-top: 2%;
    background-color: transparent;
    margin-left: 22.5%;
    border-radius: 8px;
    border: 2px solid#ffcc00;
    color: #1f0000;
    box-shadow: 0px 0px 10px 0px #ffcc00;
}

.listalink {
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 18%;
    margin-top: 2%;
    padding: 2%;
    padding-bottom: 3%;
    border: 2px dotted #ffcc00;
    border-radius: 8px;
    background-color: transparent;
    color: #1f0000;
    box-shadow: 0px 0px 10px 0px #ffcc00;
}

.promocoes {
    text-align: center;
    font-size: 1vw;
    padding: 2%;
    display: inline-block;
    width: 18%;
    padding-bottom: 4%;
    border: 2px dotted #ffcc00;
    border-radius: 8px;
    background-color: transparent;
    color: #1f0000;
    box-shadow: 0px 0px 10px 0px #ffcc00;
}

ol {
    text-align: center;
}

.contato {
    border: 2px solid #ffcc00;
    text-align: center;
    background-color: transparent;
    color: #1f0000;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #ffcc00;
    margin-left: auto;
    border-radius: 8px;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
}

.img3 {
    float: left;
    border: 3px solid #ffcc00;
    box-shadow: 0px 0px 10px 0px #ffcc00;
    border-radius: 50%;
    border-radius: 8px;
}

a {
    color: #1f0000;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px #ffcc00;
}
.Video {
    width: 37.3%;
    border-radius: 15px;
    border: 3px solid #ffcc00;
    box-shadow: 0px 0px 10px 3px #ffcc00;
    margin-top: 5%;
    color: white;
    padding: 0.1%;
    text-align: center;
  background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}


.Audio {
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
 margin-top: 5%;
    border-radius: 50px;
    border: 2px solid #ffcc00;
    background-color: #ffcc00(0, 0, 0, 0.5);
  background-color: transparent;
    color: #ffffff;
    box-shadow: 0px 0px 10px 5px #ffcc00;
}



@media (min-width: 800px) and (max-width: 1000px)  {
.img{
    width: 35%;
    height: 35%;
}

    .Titulo {
        font-size: 3vw;
        width: 100%;
    }

    .bloco1, .bloco2 {
        width: 90%;
        margin-left: 4%;
        margin-top: 5%;
    
        h3{
            font-size: 3vw;
        }
       
    }

    .listalink {
        width: 90%;
        margin-left: 4%;
        margin-top: 10%;
        li{
            font-size: 3vw;
        }
        h3{
            font-size: 4vw;
        }
    }

    .contato {
        width: 90%;
        margin-left: 4%;
    }
    .promocoes{
        width: 90%;
        margin-left: 4%;
        margin-top: 5%;
        li{
            font-size: 3vw;
        }
        h3{
            font-size: 4vw;
        }
    }


    .Video{
        width: 80%;
        margin-left: 11%;
    }

    .Audio{
        width: 40%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto ;
    
    }
    iframe{
        width: 100%;
    }
    audio{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .img {
        width: 40%;
        height: 40%;
    }

    .Titulo {
        width: 100%;
        font-size: 3vw;
    }

    .bloco1, .bloco2 {
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
        h3{
            font-size: 3vw;
        }
    }

    .listalink {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
        li{
            font-size: 3vw;
        }
        h3{
            font-size: 4vw;
        }
    
    }

    .contato {
        width: 100%;
        margin-left: 0;
    }
    .promocoes{
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
        li{
            font-size: 3vw;
        }
        h3{
            font-size: 4vw;
        }
    }

.Video{
    width: 72%;
}

.Audio{
    width: 40%;
}
Audio{
    width: 100%;
}
iframe{
    width: 100%;
}
}


@keyframes fundomechendo {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}